<h1 mat-dialoge-title>Állat rögzítése</h1>
<div mat-dialog-content>

    <mat-form-field style="width: 90%;">
        <mat-label>Név</mat-label>
        <input matInput [formControl]="name" required>
        <mat-error *ngIf="name.hasError">A név megadása kötelező</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Születési dátum</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>YYYY/MM/DD</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field style="width: 90%;">
        <mat-label>Életkor (hónap)</mat-label>
        <input matInput [formControl]="age" required>
        <mat-error *ngIf="age.hasError">Az életkor megadása kötelező</mat-error>
    </mat-form-field>

    <mat-form-field style="width: 90%;">
        <mat-label>Az állat fajtája</mat-label>
        <mat-select matInput [formControl]="kindId">
            <mat-option value="121">Kutya</mat-option>
            <mat-option value="122">Macska</mat-option>
            <mat-option value="123">Egyéb</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 90%;">
        <mat-label>Az állat neme</mat-label>
        <mat-select matInput [formControl]="isMale">
            <mat-option value=true>Hím</mat-option>
            <mat-option value=false>Nőstény</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 90%;">
        <mat-label>Leírás</mat-label>
        <textarea matInput [formControl]="description"></textarea>
    </mat-form-field>

    <section>
        <mat-checkbox>A menhelyen van</mat-checkbox>
        <mat-checkbox>Ivartalanítva</mat-checkbox>
    </section>

    <button mat-raised-button (click)="onSaveAnimalClick()">Mentés</button>

</div>