
<div class="header">
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Mázli állatmenhely</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <div *ngIf="!loggedInUser; else loggedIn">
                    <button mat-raised-button (click)="onLoginClick($event)">Bejelentkezés</button>
                  </div>
                  <ng-template #loggedIn>
                    
                    <div>
                      Üdvözöllek {{ loggedInUser?.email ?? loggedInUser }} !
                      <button mat-raised-button (click)="onLogoutClick()">Kilépés</button>
                    </div>                  
                                        
                    <div>
                      <button mat-raised-button (click)="onCreateAnimalClick()">Állat felvétele</button>
                    </div>
                    
                  </ng-template>
              </li>
          </ul>
      </div>
  </nav>
</header>
</div>

<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
          <a class="nav-link active" id="dogs-tab" data-toggle="tab" href="#dogs" role="tab" aria-controls="dogs" aria-selected="true">Kutyák</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="cats-tab" data-toggle="tab" href="#cats" role="tab" aria-controls="cats" aria-selected="false">Macskák</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="others-tab" data-toggle="tab" href="#others" role="tab" aria-controls="others" aria-selected="false">Egyéb</a>
      </li>
  </ul>
  <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="dogs" role="tabpanel" aria-labelledby="dogs-tab">
          <div class="row">
              <div class="col-md-4" *ngFor="let animal of animalDogs">
                <app-animal-card [animal]="animal" [animalListComponent]="this"></app-animal-card>
              </div>
          </div>
      </div>
      <div class="tab-pane fade" id="cats" role="tabpanel" aria-labelledby="cats-tab">
          <div class="row">
              <div class="col-md-4" *ngFor="let animal of animalCats">
                <app-animal-card [animal]="animal" [animalListComponent]="this"></app-animal-card>
              </div>
          </div>
      </div>
      <div class="tab-pane fade" id="others" role="tabpanel" aria-labelledby="others-tab">
          <div class="row">
            <div class="col-md-4" *ngFor="let animal of animalOthers">
              <app-animal-card [animal]="animal" [animalListComponent]="this"></app-animal-card>
            </div>
          </div>
      </div>
  </div>
</div>
