:root {
    --dark-color: #a06318;
    --title-text-color: #ffa700;
}

header {
    background-image: url('src/assets/headerbg.png');
    background-size: 600px;
    background-position: 380px bottom;
    color: var(--dark-color);
    padding: 20px;
    background-repeat: no-repeat;
    /*background-color: #fde2c5;*/
    border-bottom: #fde2c5 solid 2px;
}
header .navbar-brand {
    font-weight: 1000; 
    text-shadow: 2px 2px 4px rgba(0,0,0,1);
    color: var(--title-text-color) !important;
    text-transform: uppercase; 
    letter-spacing: 2px; 
    font-size: 25px;
}
.bg-light {
    background-color: transparent !important;
}	
body {
    background-color: #fefff1 !important;
}

.animal-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    transition: all 0.3s;
    background-color: #fde2c5;
}
.animal-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fdf2d5;
}
.animal-card img {
    max-width: 100%;
    height: auto;
}

.btn, .mat-mdc-raised-button{
	margin-right: 5px;
}
.btn-primary {
    color: #fff;
    background-color: #c59843 !important;
    border-color: #b58833 !important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #a57823 !important;
    border-color: #df9700 !important;
}
.btn-primary:active  {
    color: #fff;
    background-color: #c59843 !important;
    border-color: #b58833 !important;
}
.btn-primary:disabled,
.btn-primary.is-disabled {
    opacity: .5;
}

a {
    color: #b58833 !important;
}
a:hover {
    color: var(--dark-color) !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff !important;
    background-color: #c59843 !important;
    border-color: #dee2e6 #dee2e6 #b58833 !important;
}

.navbar-expand-lg .navbar-nav {
    margin-left: auto;
}

.mat-mdc-dialog-container .mdc-dialog__content {
    background-color: #fefff1 !important;   
}

.mat-mdc-card-xl-image {
    width: auto !important;
    margin-left: 10px !important;
}


table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: auto;
  }

.no-scroll {
    overflow: hidden !important;    
}

.about-p {
    text-indent: 15px;
}

div.polaroid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: #fff;
    padding: 5px;
}

div.container {
    padding: 10px;
}

/* .mat-mdc-form-field-subscript-wrapper {
    height: 0px;
}   */